body {margin: 0; overflow: hidden;}

.main{
    padding: 2%;
    background-color: #deddd9;
    border-radius: 40px;
    opacity: 85%;
    /* 
    lmao you fucked yourself with the transform strat, if you want to add more than 
    the screen width you'll have to change your vertical centering approach
    */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navItem{
    margin: 20px auto 20px;
    padding: 1em 8em 1em 8em;
    border-radius: 90px;
}

.animation{
    background-color: #F3E9E9;
    transition: 0.2s;
}

.navItem:hover{
    transform: scale(1.03, 1.05);
}