body {margin: 0; overflow: hidden;}

a:link {color: #111;}

a:visited {color: #333;}

.name {padding-top: .5vh;}

.header{
    position: absolute;
    width: 100%;
    height: 3vh;
}

.main{
    padding: 2%;
    background-color: #deddd9;
    border-radius: 40px;
    opacity: 90%;
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navItem{
    margin: 20px auto 20px;
    padding: 1em 8em 1em 8em;
    border-radius: 90px;
}

.navItem:hover {transform: scale(1.03, 1.05);}

.navAni{
    background-color: #F3E9E9;
    transition: 0.2s;
}

.setting{
    width: 3vh;
    height: 3vh;
    transition: 1s;
}

.setting:hover {transform: rotate(90deg);}

.noModal {display: none;}

.modal{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    width: max-content;
    height: max-content;
    border-radius: 40px;
    
    text-align: center;
    background-color: #999;
}